<div>
    <div class="text-center">
        <img src="../../../../../assets/lock_icon.png" alt="Lock icon">
    </div>
    <form [formGroup]="passwdResetForm" (ngSubmit)="passwdResetFormSubmit()">
        <div class="form-group mt-3">
            <input 
                type="text"
                class="form-control"
                placeholder="Email"
                formControlName="email"
            >
            <small 
                class="text-danger"
                *ngIf="formControls['email'].touched && formControls['email'].errors?.['required']"
            >
                Email is required*
            </small>
        </div>
        <div class="text-center my-3">
            <button 
                type="submit"
                [disabled]="passwdResetForm.invalid"
            >Click to reset password</button>
        </div>
        <p class="text-center mb-2">
            <a routerLink="/signin" class="text-secondary">Back to Login</a>
        </p>
        <p class="line-through-text">Or</p>
        <p class="text-center">Create a new account? <a routerLink="/signup">Sign Up</a></p>
    </form>
</div>